*.elc
*~
.session
auto-save-list/
backup/
bookmarks*
el-get/
elpa/
elpy/
eshell/
ido.last
semanticdb/
server/server*
transient/
/amx-items
recentf
/projectile.cache
/projectile-bookmarks.eld
/lisp/comb
/straight/
!/straight/versions/*
/all-the-icons-fonts/
/init-post.el
/init.el
/README.html
/emacs-bookmarks/.bmk-bmenu-state.el
/url/
emacs-bookmarks/.bmk-bmenu-state.el
/tramp
/sessions/
