*.elc
*~
.session
/README.html
/all-the-icons-fonts/
/amx-items
/emacs-bookmarks/.bmk-bmenu-state.el
/init-post.el
/init.el
/lisp/comb
/projectile-bookmarks.eld
/projectile.cache
/sessions/
/straight/
!/straight/versions/*
/tramp
/url/
auto-save-list/
backup/
bookmarks*
el-get/
elpa/
elpy/
emacs-bookmarks/.bmk-bmenu-state.el
eshell/
ido.last
recentf
semanticdb/
server/server*
transient/
